build/
cmake-build-*/
out/
bin/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
_deps/

.vscode/
.idea/

.vs/
*.vcxproj*
*.sln
*.filters
*.user

*.xcodeproj/
*.xcworkspace/
DerivedData/

*.app/
*.dSYM/
.DS_Store

*.exe
*.dll
*.pdb

*.o
*.obj
*.so
*.a
*.lib

*.log
